<div class="modal-header bg-color">
    <h4 class="modal-title">Thay đổi mật khẩu </h4>
</div>
<div class="modal-body form">
    <div class="form-body form-horizontal">
        <!--<div class="form-group">
            <label class="control-label col-md-3">Tài khoản</label>
            <div class="col-md-6">
                <input type="text" class="form-control" readonly
                       ng-model="cookie" name="UserName">
            </div>
        </div>-->

        <div class="form-group {{itemError.ModelState.OldPassword[1]}}">
            <label class="control-label col-md-3">Mật khẩu cũ <span style="color:red">*</span></label>
            <div class="col-md-6">
                <input type="password" class="form-control" ng-model="item.OldPassword" id="OldPassword" name="FName">
            </div>
        </div>

        <div class="form-group {{itemError.ModelState.NewPassword[1]}}">
            <label class="control-label col-md-3">Mật khẩu mới <span style="color:red">*</span></label>
            <div class="col-md-6">
                <input type="password" class="form-control" ng-model="item.NewPassword" id="NewPassword" name="FName">
            </div>
        </div>
        <div class="form-group {{itemError.ModelState.ConfirmPassword[1]}}">
            <label class="control-label col-md-3">Xác nhận mật khẩu mới <span style="color:red">*</span></label>
            <div class="col-md-6">
                <input type="password" class="form-control" ng-model="item.ConfirmPassword" id="ConfirmPassword" name="FName">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn green-haze btn-outline sbold" ng-click="SaveModal()"> Lưu </button>
    <button class="btn green-haze btn-outline sbold" ng-click="cancelModal()"> Thoát </button>
</div>