<style>
    #title {
        font-size: 30px;
        font-weight: 600;
        color: #ed1a16;
        text-align: center;
        line-height: 40px;
        text-shadow: 2px 2px #c1d5de;
        word-spacing: 1px;
    }

    #describle {
        color: #7d7c7c;
        font-size: 16px;
        margin-top: 80px;
        text-shadow: 1px 1px #dce0e4;
        font-weight: 400;
        word-spacing: 1px;
    }

    .user-login-5 .login-container > .login-content > .login-form {
        margin-top: 20px;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
    }

    .content {
        margin-top: 30px;
        margin-bottom: 50px;
        /*flex-grow: 1;*/
        background-color: white;
        align-self: center;
        min-height:300px;
        /*border-radius:;*/
    }
    .border {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .1875rem;
        margin-top:20px;
        margin-bottom:20px
    }
</style>
<div class="user-login-5" ng-controller="RegisterController">
    <div class="row bs-reset">
        <!--<div class="col-md-6 bs-reset mt-login-5-bsfix">
            <div class="login-bg" style="background-image:url(assets/pages/img/login/bg1.jpg)">
                <img class="login-logo" src="assets/pages/img/login/logo.png" />
            </div>
        </div>-->
        <div class="content-wrapper">
            <div class="col-md-11 content ">
                <div ng-if="isReg" class="row" style="align-self:center">
                    <div class="col-md-12">
                        <h3 class="caption-subject font-green bold uppercase">Đăng ký thành công đang chờ duyệt!</h3>
                    </div>
                    <div class="form-group " style="background-color:white;margin-top:50px">
                        <div class="col-md-10 clearfix">
                            <a class="btn btn-sm grey-cascade btn-outline sbold" ng-click="back()"><i class="fa fa-reply"></i> ( {{countDown}} ) Về trang chủ </a>

                        </div>

                    </div>
                </div>
                <div ng-show="!isReg">
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a style="text-decoration:none">
                                    <img style="width: 40px;" ng-src="assets/global/img/flags/VN.png" alt="" src="assets/global/img/flags/VN.png">
                                </a>
                                <a style="text-decoration:none">
                                    <img style="width: 40px;" ng-src="assets/global/img/flags/US.png" alt="" src="assets/global/img/flags/US.png">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div style="background-color:#0250c5;color:white">
                                <h3 class="uppercase sbold text-center" style="padding:.625rem!important">Đăng ký tài khoản doanh nghiệp</h3>
                            </div>
                        </div>

                    </div>
                    <div class="form-body form-horizontal col-md-12 border">
                        <div class="portlet  ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <span class="caption-subject font-green bold uppercase">Thông tin chung</span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="row margin-bottom-5">
                                    <div class="{{itemError.ModelState.TenDangNhap[1]}}">
                                        <label class="control-label col-md-2">Tên đăng nhập (MST) <span style="color:red">*</span>:</label>
                                        <div class="col-md-4">
                                            <input type="text" ng-change="ValidUsername()" ng-model-options="{updateOn: 'change'}" class="form-control input-sm" ng-model="item.TenDangNhap" placeholder="Nhập tên đăng nhập">

                                        </div>
                                        <span class="help-block"> {{ itemError.ModelState.TenDangNhap[0] }} </span>

                                    </div>
                                </div>

                                <div class="row margin-bottom-5">
                                    <div class="{{itemError.ModelState.TenCongTy_VI[1]}}">
                                        <label class="control-label col-md-2">Tên tiếng Việt<span style="color:red">*</span>:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-sm" ng-model="item.TenCongTy_VI" placeholder="Nhập tên doanh nghiệp (tiếng Việt)">

                                        </div>
                                    </div>

                                    <label class="control-label col-md-2">Tên nước ngoài:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-sm" ng-model="item.TenCongTy_EN" placeholder="Nhập tên doanh nghiệp (tiếng Anh)">
                                    </div>

                                </div>

                                <div class="row margin-bottom-5">
                                    <label class="control-label col-md-2">Tên thương hiệu:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-sm" ng-model="item.TenThuongHieu" placeholder="Nhập tên thương hiệu">
                                    </div>

                                    <label class="control-label col-md-2">Tên viết tắt:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-sm" ng-model="item.TenVietTat" placeholder="Nhập tên viết tắt">
                                    </div>

                                </div>

                                <div class="row margin-bottom-5">
                                    <label class="control-label col-md-2">Năm thành lập:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-sm" ng-model="item.NamThanhLap" placeholder="Nhập năm thành lập">
                                    </div>

                                    <label class="control-label col-md-2">Lao động:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-sm" ng-model="item.SoLuongLaoDong" placeholder="Nhập số lượng lao động">
                                    </div>

                                </div>

                                <div class="row margin-bottom-5">
                                    <div class="{{itemError.ModelState.LoaiHinhDN[1]}}">
                                        <label class="control-label col-md-2">Loại hình DN<span style="color:red">*</span>:</label>
                                        <div class="col-md-4">
                                            <select ng-model="item.LoaiHinhDN" id="LoaiHinhDN" class="form-control select2">
                                                <option value="">Chọn Loại hình</option>
                                                <option ng-repeat="c in DMLoaiHinh" value="{{c.FCode }}">{{c.FName }}</option>
                                            </select>

                                        </div>


                                    </div>

                                </div>
                                <div class="row margin-bottom-5">
                                    <label class="control-label col-md-2">Chuẩn chất lượng:</label>
                                    <div class="col-md-4">
                                        <select ng-model="ChuanChatLuong" multiple class="select2 form-control">
                                            <option ng-repeat="c in DMTieuChuan" value="{{c.FCode}}">{{c.FName }}</option>
                                        </select>
                                    </div>

                                    <label class="control-label col-md-2">Công cụ QLCL:</label>
                                    <div class="col-md-4">
                                        <select ng-model="CongCuQuanLy" multiple class="select2 form-control input-sm">
                                            <option ng-repeat="c in DMCongCuQuanLy" value="{{c.FCode}}">{{c.FName }}</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row margin-bottom-5">
                                    <div>
                                        <label class="control-label col-md-2">Lĩnh vực sản xuất chính:</label>
                                        <div class="col-md-10">
                                            <input type="text" placeholder="Nhập lĩnh vực sản xuất chính" class="form-control input-sm" ng-model="item.LinhVucSXC">
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-5">
                                    <div>
                                        <label class="control-label col-md-2">Người đại diện:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-sm" ng-model="item.NguoiDaiDienName" placeholder="Nhập tên người đại diện">
                                        </div>
                                    </div>
                                    <div>
                                        <label class="control-label col-md-2">Chức vụ:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-sm" ng-model="item.NguoiDaiDienCV" placeholder="Nhập chức vụ người đại diện">

                                        </div>
                                    </div>

                                </div>
                                <div class="row margin-bottom-5">
                                    <div>
                                        <label class="control-label col-md-2">Số điện thoại người đại diện:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-sm" ng-model="item.NguoiDaiDienSDT" placeholder="Nhập SĐT người đại diện">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <span class="caption-subject font-green bold uppercase">Thông tin liên hệ</span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="row margin-bottom-5">
                                    <div class="{{itemError.ModelState.DiaChi_VI[1]}}">
                                        <label class="control-label col-md-2">Địa chỉ trụ sở chính<span style="color:red">*</span>:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm" ng-model="item.DiaChi_VI" placeholder="Nhập địa chỉ tiếng Việt">

                                        </div>
                                    </div>

                                </div>
                                <div class="row margin-bottom-5">
                                    <div class="col-md-10 pull-right">
                                        <input type="text" class="form-control input-sm" ng-model="item.DiaChi_EN" placeholder="Nhập địa chỉ tiếng nước ngoài">

                                    </div>

                                </div>
                                <div class="row margin-bottom-5">
                                    <div>
                                        <label class="control-label col-md-2">Địa chỉ cơ sở sx (1):</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control input-sm" ng-model="item.DiaChiCSSX_VI" placeholder="Nhập địa chỉ ">

                                        </div>
                                    </div>

                                </div>
                                <div class="row margin-bottom-5">
                                    <label class="control-label col-md-2">Địa chỉ cơ sở sx (2):</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control input-sm" ng-model="item.DiaChiCSSX_EN" placeholder="Nhập địa chỉ ">

                                    </div>

                                </div>
                                <div class="row margin-bottom-5">

                                    <div class="{{itemError.ModelState.Email[1]}}">
                                        <label class="control-label col-md-2">Email:</label>
                                        <div class="col-md-4">
                                            <input onKeyUp="RemoveUnicode(this);" ng-change="ValidEmail()" ng-model-options="{updateOn: 'change'}" type="text" class="form-control input-sm" ng-model="item.Email" placeholder="Nhập thư điện tử">

                                        </div>
                                    </div>
                                    <label class="control-label col-md-2">Website:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-sm" ng-model="item.Website" placeholder="Nhập địa chỉ website">

                                    </div>

                                </div>
                                <div class="row margin-bottom-5">
                                    <label class="control-label col-md-2">Điện thoại:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-sm" ng-model="item.SoDienThoai" placeholder="Nhập số điện thoại">

                                    </div>

                                    <label class="control-label col-md-2">Số Fax:</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-sm" ng-model="item.Fax" placeholder="Nhập số Fax">

                                    </div>

                                </div>

                            </div>
                        </div>




                        <div class="form-group " style="position: sticky;bottom: 10px;z-index:500;background-color:white">
                            <div class="col-md-10 clearfix">
                                <a class="btn btn-sm btn-success btn-outline sbold" ng-click="SaveModal()"><i class="fa fa-save"></i> Đăng ký </a>
                                <a class="btn btn-sm grey-cascade btn-outline sbold" ng-click="back()"><i class="fa fa-reply"></i> Trang chủ </a>

                            </div>

                        </div>

                    </div>

                </div>
             
            </div>

        </div>
    </div>
</div>
