<!-- BEGIN PAGE HEADER-->
<link href="assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" />
<link href="assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />
<style>
    .checkbox {
        padding-left: 20px;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="formtools">Quản lý tin tức</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<style>
    .portlet.light {
        padding: 5px 5px 2px;
        background-color: #fff;
    }
</style>
<link href="assets/admin/pages/css/todo.css" rel="stylesheet" type="text/css" />
<div class="row" ng-controller="NewsController">
    <div class="col-md-3" style="padding-right:2px;border-right:solid 1px #dedede;">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="icon-folder font-green"></i>
                    <span class="caption-subject bold uppercase">Danh mục tin tức</span>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body form">
                <div class="todo-project-list">
                    <!--<ul class="list-group">
                        <li ng-repeat="type in types" ng-show="type.value != 'NOTUSE' && type.value != 'APPROVED'" class="list-group-item " ng-class="{'list-group-item-success': ChoiceStatus == type.value}">
                            <a ng-class="{'font-white': ChoiceStatus == type.value,'sbold':ChoiceStatus == type.value}" ng-click="ListNewByStatus(type.value,true)">
                                <i class="fa fa-file-o " ng-class="{'font-green-dark': ChoiceStatus == type.value}"></i>
                                {{type.text}}
                                <span ng-show="CountByStatus(type.value) != 0" class="badge badge-danger" style="right:10px;position: absolute;">
                                    {{CountByStatus(type.value)}}
                                </span>
                            </a>
                        </li>
                    </ul>-->
                </div>
                <div class="input-group select2-bootstrap-prepend" ng-show="false">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-prepend-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <select ng-model="CoCode" id="single-prepend-text" class="form-control green-haze select2 select2-hidden-accessible" ng-change="MainMenuChange()" tabindex="-1" aria-hidden="true">
                        <option value="ALL">All Menu</option>
                        <option ng-selected="CoCode == c.FCode" ng-repeat="c in MainMenu" value="{{c.FCode}}">{{c.FName }}</option>
                    </select>
                </div>
                <div style="overflow-x: auto;overflow-y:hidden" id="tree_3" class="tree-demo"> </div>
            </div>
        </div>
    </div>

    <div class="col-md-9" style="padding-left:2px;" ng-show="ViewType == 'LIST_NEWS'">
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                    <span class="caption-subject font-green bold uppercase">{{ ListTitle }}</span>
                    <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view project list</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn green-haze btn-outline sbold" ng-click="EditNews(null)">
                        <i class="fa fa-plus"></i>&nbsp; Thêm mới
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <div class="input-icon input-icon-sm right">
                            <i class="fa fa-search"></i>
                            <input type="text" ng-model="Paging.SearchKey" ng-change="Search()" ng-model-options="{ updateOn: 'change blur'}" class="form-control input-sm" placeholder="Nhập từ khóa tìm kiếm">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-scrollable">
                            <!-- BEGIN FORM-->
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="1%"> # </th>
                                        <th width="1%"> # </th>
                                        <th width="1%"> # </th>
                                        <th width="5%"> Hình ảnh </th>
                                        <th width="20%"> Tiêu đề bài viết </th>
                                        <!--<th> Nội dung tóm tắt</th>-->
                                        <th width="1%" nowrap> Ngày tạo </th>
                                        <th width="1%" nowrap> Trạng thái </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" ng-repeat="news in ListNews">
                                        <td class="text-center">{{ShowIndex($index+1,Paging.PageNumber,Paging.PageSize)}}</td>
                                        <th align="center" width="1%"> <a ng-click="DeleteNew(news)"> <i title="Xóa tin bài" class="fa fa-trash font-red"></i> </a></th>
                                        <td align="center" width="1%"><a ng-click="EditNews(news)"> <i title="Sửa tin bài" class="fa fa-edit"></i> </a></td>
                                        <td>
                                            <img ng-show="news.Image != null && new.Image != ''" ng-src="{{ news.Image }}" width="60" height="40" />

                                        </td>
                                        <td align="left">  <p ng-bind-html="news.FName"></p> </td>
                                        <!--<td align="left">{{ news.SortContent | removeHTMLTags }} </td>-->
                                        <td nowrap> {{ news.FCreateTime | date:'dd/MM/yyyy HH:mm:ss' }} </td>
                                        <td align="left" nowrap> <span class="label-sm {{ getStatus(news.FStatus).class }}">{{ getStatus(news.FStatus).text }} </span> </td>
                                    </tr>
                                    <tr ng-show="ListNews.length == 0 || ListNews == null">
                                        <td colspan="20">
                                            <div class="alert alert-danger">
                                                <strong>Thông báo!</strong> Không có bài đăng tin tức
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- END FORM-->


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div ng-show="ListNews.length > 0" class="dataTables_info" id="sample_2_info" role="status" aria-live="polite">{{DisplayInfoPagination(Paging.PageNumber,Paging.PageSize,Paging.Total)}}</div>
                    </div>
                    <div class="col-md-7">
                        <ul class="pull-right pagination-sm" ng-show="Paging.Total > Paging.PageSize"
                            boundary-links="true"
                            previous-text="Trang trước" next-text="Trang sau" first-text="Trang đầu" last-text="Trang cuối"
                            force-ellipses="true"
                            max-size="10"
                            ng-change="pageChanged()"
                            uib-pagination total-items="Paging.Total" ng-model="Paging.PageNumber" items-per-page="Paging.PageSize"></ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

    <div class="col-md-9" style="padding-left:2px;" ng-show="ViewType == 'EDIT_NEWS'">
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                    <span class="caption-subject font-green bold uppercase">Soạn thảo tin tức/Sự kiện</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn green-haze btn-outline sbold" ng-click="SaveNews()">
                        <i class="fa fa-save"></i>&nbsp; Cập nhật
                    </a>

                    <a href="javascript:;" class="btn green-haze btn-outline sbold" ng-click="MenuListNews()">
                        <i class="fa fa-undo"></i>&nbsp; Quay lại
                    </a>
                </div>
            </div>

            <div class="portlet-body form">
                <form name="NewForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bold font-blue">Cấu hình bài viết</label>
                                <hr style="margin-top:0px;margin-bottom:0px" />
                            </div>
                            <div class="form-group">
                                <div class="checkbox-list">
                                    <label>
                                        <input type="checkbox" ng-model="item.IsHotNews"> Tin mới
                                    </label>
                                    <label>
                                        <input type="checkbox" ng-model="item.IsTopNews"> Tin nổi bật
                                    </label>
                                    <label>
                                        <input type="checkbox" ng-model="item.IsImportantNews"> Thông cáo báo chí
                                    </label>
                                </div>
                            </div>
                            <div class="form-group " ng-class="{'has-success': !NewForm.FName.$touched || !NewForm.FName.$invalid,'has-error': NewForm.FName.$touched && NewForm.FName.$invalid}">
                                <label class="bold control-label">Tiêu đề bài viết <span class="text-danger">*</span></label>
                                <input type="text" required name="FName" ng-model="item.FName" class="form-control input" style="font-size:13px;font-family:Arial;color:black" placeholder="Nhập tiêu đề bài viết" maxlength="300">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span class="help-block" ng-show="NewForm.FName.$touched && NewForm.FName.$invalid">Nhập tiêu đề bài viết</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="fa-pull-right">{{300 - item.FName.length}}/300</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': itemError.ModelState.Menu != undefined}">
                                <label class="bold control-label">Danh mục bài viết <span class="text-danger">*</span></label>
                                <select ng-model="item.Menu" class="form-control danh-muc" ng-change="changeCategoty()">
                                    <option ng-repeat="v in ListPage" value="{{v.FCode}}">{{v.FName}}</option>
                                </select>
                                <span class="help-block" ng-show="itemError.ModelState.Menu != undefined"> {{ itemError.ModelState.Menu[0] }}  </span>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="item.IsLiveNews != true" ng-class="{'has-error': itemError.ModelState.Tags != undefined}">
                            <div class="form-group">
                                <label class="bold control-label">Thuộc nhóm <span class="text-danger">*</span></label>
                                <select ng-model="Tags" class="form-control form_user" multiple>
                                    <option ng-repeat="u in ListTags" value="{{u.FCode}}">{{u.FName}}</option>
                                </select>
                                <span class="help-block" ng-show="itemError.ModelState.Tags != undefined"> {{ itemError.ModelState.Tags[0] }} </span>
                            </div>
                        </div>

                        <div class="col-md-6" ng-show="item.IsLiveNews != true">
                            <div class="form-group">
                                <label class="bold control-label">Ngày xuất bản</label>
                                <div class="input-group date date-picker">
                                    <input type="text" class="form-control" ng-model="item.FCreateTime" date>
                                    <input ng-model="item.FCreateTime" hidden="hidden" type="text">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-show="item.IsLiveNews != true">
                            <!--<div class="form-group">
                                <label class="col-form-label text-right col-lg-3 col-sm-12">Basic Example</label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="input-group date" id="kt_datetimepicker_1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="Select date & time" data-target="#kt_datetimepicker_1" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_1" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label class="control-label">Ảnh hiện thị:</label>
                                <input class="form-control" type="file" id="file" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-group-sm">
                                <label class="control-label">&nbsp;&nbsp;</label>
                                <br />
                                <a class="btn btn-sm green-haze" ng-click="UploadBanner()" title="Upload hình ảnh"><i class="fa fa-upload"></i></a>
                                <a class="btn btn-sm btn-danger" ng-show="ShowDeleteButton()" ng-click="DeleteBanner()" title="Xóa hình ảnh"><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group-sm">
                                <img src="{{item.Image}}" style="width:50%" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group-sm">
                                <label class="bold control-label">Ghi chú ảnh</label>
                                <input type="text" required name="FName" ng-model="item.FDescription" class="form-control input" style="font-size:13px;font-family:Arial;color:black" placeholder="Nhập ghi chú cho ảnh đaị diện" maxlength="300">
                            </div>
                        </div>
                    </div>


                </form>
                <div class="form-group" ng-show="item.IsLiveNews != true">
                    <label class="bold">Tóm tắt bài viết</label>
                    <!--<div name="summernote" id="summernote_Desc"></div>-->
                    <textarea class="col-md-12" ng-model="item.SortContent" rows="8" style="margin-bottom: 15px; padding-top: 10px"></textarea>
                </div>
                <div class="form-group">
                    <label class="bold">Nội dung bài viết</label>
                    <div name="summernote" id="summernote_Content">
                    </div>
                </div>
                <div class="form-group">
                    <label class="bold font-blue">Tài liệu kèm theo</label>
                    <hr style="margin-top:0px;margin-bottom:0px" />
                </div>
                <div class="form-group">
                    <form enctype="multipart/form-data" action="upload" method="POST">
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-12 text-right">
                                <span class="btn btn-sm green-haze btn-outline sbold fileinput-button">
                                    <i class="fa fa-plus"></i>
                                    <span>
                                        Tải files ...
                                    </span>
                                    <input type="file" id="file" onchange="angular.element(this).scope().filesUploaded(this.files)" name="files[]" multiple="">
                                </span>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td width="1%">#</td>
                                    <td width="20%">Mô tả</td>
                                    <td nowrap>Tên file</td>
                                    <td nowrap>Đường dẫn</td>
                                    <td width="5%" nowrap>Dung lượng</td>
                                    <td width="5%" nowrap>#</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="f in itemFiles">
                                    <td class="text-center" style="vertical-align:middle"><a ng-click="DeleteFile(f)"><i class="fa fa-trash font-red"></i></a></td>
                                    <td>
                                        <input ng-model="f.Text" class="form-control" />
                                    </td>
                                    <td>
                                        {{ f.Name }}
                                    </td>
                                    <td>
                                        {{ f.Path }}
                                    </td>
                                    <td nowrap>
                                        ({{ f.FileSize/1000 }} KB)
                                    </td>
                                    <td nowrap>
                                        <a href="{{f.Path}}" target="_blank">Tải file</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
            <div class="portlet-title">
                <div class="actions fixed-bottom text-right">
                    <a href="javascript:;" class="btn green-haze btn-outline sbold" ng-click="SaveNews()">
                        <i class="fa fa-save"></i>&nbsp; Cập nhật
                    </a>
                    <a href="javascript:;" class="btn green-haze btn-outline sbold" ng-click="MenuListNews()">
                        <i class="fa fa-undo"></i>&nbsp; Quay lại
                    </a>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

</div>
<script>
    $(document).ready(function () {


        if (jQuery().datepicker) {
            $('.date-picker').datepicker({
                rtl: App.isRTL(),
                format: 'dd/mm/yyyy',
                orientation: "right",
                autoclose: true
            });

        }
    });
    $('#kt_datetimepicker_1').datetimepicker();

</script>